@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.playfair {
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: italic;
  font-variation-settings: "wdth" 100;
}

.tangerine {
  font-family: "Tangerine", serif;
  font-weight: 400;
  font-style: normal;
}
