@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --background: #ffffff;
    --foreground: #171717; */
    /* --background: #0a0a0a; */
    /* --background: black; */
    --background: transparent;
    --foreground: #ededed;

    background-image: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 30%,
      rgba(46, 100, 138, 1) 88%,
      rgba(0, 0, 0, 1) 99%
    );
    background-size: auto;
    background-position: 0% 0%;
    background-repeat: repeat;
    background-color: rgba(0, 0, 0, 0);
  }
}

body {
  color: var(--foreground);
  background: transparent;
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "Ephesis";
  src: url("/fonts/Ephesis-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Judson";
  src: url("/fonts/Judson-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Judson";
  src: url("/fonts/Judson-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Judson";
  src: url("/fonts/Judson-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Oranienbaum";
  src: url("/fonts/Oranienbaum-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Italic-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

.ephesis {
  font-family: var(--font-ephesis), cursive;
  font-display: swap;
}

.judson {
  font-family: "Judson", serif;
  font-display: swap;
}

.oranienbaum {
  font-family: "Oranienbaum", serif;
  font-display: swap;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-display: swap;
}

@keyframes extrude {
  0% {
    transform: perspective(600px) rotateX(0deg) rotateY(0deg) scale(1);
  }
  100% {
    transform: perspective(800px) rotateY(25deg) scale(0.9) rotateX(10deg);
    transition: 0.6s ease all;
    border-radius: 2rem;
    padding: 4rem;
    background: linear-gradient(325deg, #ffbc04, black);
  }
}

.animate-extrude {
  animation: extrude 1s ease-in-out forwards;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5), 2px 2px 0 rgba(0, 0, 0, 0.5),
    3px 3px 0 rgba(0, 0, 0, 0.5);
}

.text-100 {
  font-size: 100pt;
}

.background-svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/americas.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform-origin: center;
  transition: transform 0.5s ease;
  z-index: -1;
}

.perspective-1000 {
  perspective: 1000px;
}

.hover\:rotate-y-6:hover {
  transform: rotateY(16deg);
}
