@tailwind base;
@tailwind components;
@tailwind utilities;

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 700 */

.playfair {
  font-family: 'Playfair Display', serif;
  /* font-optical-sizing: auto; */
  font-weight: 100;
  /* font-style: normal; */
}

html,
body {
  padding: 0;
  margin: 0;

  /* background-color: '#ececec'; */
  background-color: black;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background-color: black;
  }
}
